body{
background-color: #E2DBF4;
}

h1{  
  font-size:90px; 
  font-family: "Lucida Console", Courier, monospace;
  text-align:center;
  padding:10px;
  border-style: double;
  color: #321e62; 
  background-color: #b19de1;
  text-shadow: 2px 2px 5px #FFF;
}

h2{
  font-size:40px;
  font-family: "Lucida Console", Courier, monospace;
  color:#452A89;
  text-align:center;
  margin-top:-45px;
}

img {
  border-radius: 50%;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

ol.nav li{
  text-align:left;
  font-family: "Lucida Console", Courier, monospace;
  font-size:25px;
  color:#5C4598;
    }

  p{
font-size:20px;
    font-family: "Lucida Console", Courier, monospace;p{
    font-size:20px;
   display: inline-block;
}

