body{
background-color: #E2DBF4;
}

h1{  
  font-size:100px; 
  text-align:center;
  border-style: double;
  color: #321e62; 
  background-color: #b19de1;
}

h2{
  font-size:50px;
  color:#452A89;
  text-align:center;
  margin-top:-65px;
}

ol.nav li{
  text-align:left;
  font-size:25px;
  color:#5C4598;
  
img {
  border-radius: 50%;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
  
  p{
font-size:30px;
}
