body{
background-color: #E2DBF4;
}

h1{  
  font-size:100px; 
  text-align:center;
  border-style: double;
  color: #321e62; 
  background-color: #b19de1;
}

h2{
  font-size:50px;
  color:#452A89;
  text-align:center;
  margin-top:-65px;
}

ol.nav li{
  font-size:25px;
  color:#8263CF;
}

p{
font-size:30px;
}
