h1{ 
  font-size:100px; 
  color:#4682B4; 
  text-align:center;
  border-style: double;
}
h2{
  font-size:50px;
  color:#5F9EA0;
  text-align:center;
  margin-top:-65px;
}
ol.nav li{
  font-size:25px;
  color:#304f50;
}
p{
font-size:30px;
}
