h1{ 
  font-size:500px; 
  color:#4682B4; 
  background-color:#DFEBEC;
  text-align:center;
  border-style: solid;
}
h2{
  font-size:50px;
  color:#5F9EA0;
  text-align:center;
  margin-top:-65px;
}
body{
  background-color:#CFE1E2;
}
