body{
  background-color:#ffe6f0;
}

h1{ 
  font-size:100px; 
  text-align:center;
  border-style: solid;
  color:#ff99c2; 
  background-color:#99003d;
  text-shadow: 2px 2px 5px #000;
}

h2{
  font-size:50px;
  color:#e6005c;
  text-align:center;
  margin-top:-65px;
}

p{
font-size:30px;
}
