h1{ 
  font-size:100px; 
  color:#4682B4; 
  border-style: groove;
  margin-bottom: 100px;
}
p1{
  font-size:40px; 
  color:#4682B4; 
  margin-top:400px;
}
p2{
 font-size:20px; 
  color:#4682B4; 
  float:right
}

  
