body{
  background-color:#ffe6f0;
}

h1{ 
  font-size:100px; 
  text-align:center;
  border-style: solid;
  color:#4682B4; 
  background-color:#
  
}

h2{
  font-size:50px;
  color:#5F9EA0;
  text-align:center;
  margin-top:-65px;
}

p{
font-size:30px;
}
