h1{ 
  font-size:100px; 
  color:#9976C4; 
}
h2{
  font-size:50px;
  color:#C476A1;
  margin-top:-300px;
}
ul.nav li{
  display:inline;
  padding:10px;
  width:50px;
}
ul.nav li a{
  display:inline-block;
  padding:10px;
  background-color:#C9FDF7;
  color:#fff
  text-decoration:none;
}
ul.nav li a:hover{
background-color:#B7E3EC
}
