body{
  background-color: lightgrey;
  color: blue;
}
h1{
  background-color: black;
  color: white;
}
ul.nav li{
  display:inline;
  padding:10px;
  width:50px;
}
ul.nav li a{
font-size:30px;
 text-align:center;
  display:inline-block;
  padding:10px;
  background-color:#B0C4DE;
  color:#fff
}
ul.nav li a:hover{
background-color:#B7E3EC
}
body{
background-color:#E5EBF4;
}
