body{
background-color:#b8f3e1;
}

h1{ 
  font-size:100px; 
   text-align:center;
  border-style: dashed;
  color: #113244;
  background-color: #70c2b6;
}

h2{
  font-size:50px;
  color:#5d886c;
  text-align:center;
  margin-top:-65px;
}

ul.nav li{
  display:inline;
  width:10px;
}

ul.nav li a{
font-size:30px;
 text-align:center;
  display:inline-block;
  padding:10px;
  background-color:#5d886c;
  color:#FFF
}

ul.nav li a:hover{
  color:#FFF;
background-color:#8fd0ca;
}

img {
  float: right;
  border-radius: 50%;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
