body{
background-color:#b8f3e1;
}

h1{ 
  font-size:100px; 
   text-align:center;
  border-style: dashed;
  color: #113244;
  background-color: #70c2b6;
  text-shadow: 2px 2px 5px #000;
  font-family: Impact, Charcoal, sans-serif;
}

h2{
  font-size:50px;
  color:#5d886c;
  text-align:center;
  margin-top:-65px;
  text-shadow: 2px 2px 5px #FFF;
  font-family: Impact, Charcoal, sans-serif;	
}

ul.nav li{
  display:inline;
  width:10px;
  padding-right:30px;
}

nav {
	list-style-type: none;
	margin: 0;
	padding: 50px;
	text-align: center;
	margin-top: 80px;
	line-height: 1.3em;
}

ul.nav li a{
font-size:35px;
font-family: Impact, Charcoal, sans-serif;
 text-align:center;
  display:inline-block;
  padding:10px;
  background-color:#5d886c;
  color:#FFF;
}

ul.nav li a:hover{
  color:#FFF;
background-color:#8fd0ca;
  padding:10px;
}

img {
  float: right;
  border-radius: 50%;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

li{
padding-top:10px;
}
