h1{ 
  font-size:100px; 
  color:#4682B4; 
  text-align:center;
}
h2{
  font-size:50px;
  color:#5F9EA0;
  text-align:center;
  margin-top:-65px;
}
ul.nav li{
  display:inline;
  padding:10px;
  width:50px;
}
ul.nav li a{
  display:inline-block;
  padding:10px;
  background-color:#B0C4DE;
  text-align:center;
  color:#fff
  text-decoration:none;
}
ul.nav li a:hover{
background-color:#B7E3EC
}
