p{
font-size:20px;
font-family: Arial, Helvetica, sans-serif;
display: inline-block;
}

<style>

<div class="clearfix"></div> 
<div style="padding:6px;">
div.gallery {
  border: 1px solid #ccc;
  background-color:#EEDDFF;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  color:#2D0555;
  font-family: Arial, Helvetica, sans-serif;
  background-color:#e4cbfe;
}

* {
  box-sizing: border-box;
  background-color:#EEDDFF;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
   </style>
