body{
background-color:#ccdcbc;
}

p{
font-size:20px;
}

h1{ 
  font-size:100px; 
  text-align:center;
  border-style: dotted dashed solid double;
  color: #9ab979; 
  background-color: #656E5E;
  text-shadow: 2px 2px 5px #000;
}

h2{
  font-size:50px;
  color:#4d6435;
  text-align:center;
  margin-top:-65px;
  text-decoration: underline;
}
p{
  text-align:left;
font-size:30px;
  width:100%;
  color:#51584B; 
  padding-bottom: 1px;
  padding-top: 1px;
}

table{
  width: 100%;
  border: 1px solid black;
}

th{
font-size:25px;
color:#413629;
  background-color:#A3B097;
  text-align: center;
  border: 1px solid black;
  padding:15px;
}

td{
font-size:20px;
color:#304f50;
  background-color:#E0EAD7;
  text-align: left;
  border: 1px solid black;
  padding:15px;
}

img {
  border-radius: 40%;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
