h1{ 
  font-size:100px; 
  color:#4682B4; 
  text-align:center;
  border-style: groove;
}
h2{
  font-size:50px;
  color:#5F9EA0;
  text-align:center;
  margin-top:-65px;
}
p{
font-size:30px;
  width:100%;
  color:#304f50; 
  padding-bottom: 1px;
  padding-top: 1px;
}
table{
  width: 100%;
}
th{
font-size:25px;
color:#4682B4;
  padding: 15px;
  text-align: center;
  border: 1px #5F9EA0;
}
td{
font-size:20px;
  color: #304f50
  padding: 15px;
  text-align: left;
border: 1px #5F9EA0;
}
