h1{ 
  font-size:100px; 
  color:#4682B4; 
  text-align:center;
  border-style: groove;
}
h2{
  font-size:50px;
  color:#5F9EA0;
  text-align:center;
  margin-top:-65px;
}
p2{
  color:#304f50; 
  text-align:center;
  padding-bottom:300px;
}
table{
  border-collapse: collapse;
  width: 100%;
}
tr, td {
  padding: 15px;
  text-align: left;
}
