h1{ 
  font-size:100px; 
  color:#4682B4; 
  text-align:center;
  border-style: groove;
}
h2{
  font-size:50px;
  color:#5F9EA0;
  text-align:center;
  margin-top:-65px;
}
p2{
font-size:30px;
  max-width:900px;
  color:#304f50; 
  padding-bottom:50%;
  padding-top:50%;
}
table{
  width: 100%;
}
th{
font-size:15px;
color:#4682B4;
  padding: 15px;
  text-align: center;
}
td{
font-size:9px;
  padding: 15px;
  text-align: left;
}
