h1{ 
  font-size:70px; 
  color:#4682B4; 
  text-align:center;
  border-style: groove;
}
h2{
  font-size:50px;
  color:#5F9EA0;
  text-align:center;
  margin-top: 100;
}
table{
  border-collapse: collapse;
  width: 100%;
}
td{
  padding: 15px;
border: 1px solid #ddd;
text-align: left;
}
tr{
padding: 15px;
border: 1px solid #ddd;
text-align: left;
}
