h1{ 
  font-size:100px; 
  color:#4682B4; 
  text-align:center;
  border-style: groove;
}
h2{
  font-size:50px;
  color:#5F9EA0;
  text-align:center;
  margin-top:-65px;
}
p{
font-size:30px;
  width:100%;
  color:#304f50; 
  padding-bottom: 1px;
  padding-top: 1px;
}
table{
  width: 100%;
  border: 1px solid black;
}
th{
font-size:25px;
color:#4682B4;
  text-align: center;
  border: 1px solid black;
  padding:15px;
}
td{
font-size:20px;
color:#304f50;
  text-align: left;
  border: 1px solid black;
  padding:15px;
}
