body{
background-color:#ccdcbc;
}

h1{ 
  font-size:100px; 
  text-align:center;
  border-style: dotted dashed solid double;
  color: #b3ca9b; 
  background-color: #334523;
}

h2{
  font-size:50px;
  color:#8db069;
  text-align:center;
  margin-top:-65px;
}
p{
font-size:30px;
  width:100%;
  color:#304f50; 
  padding-bottom: 1px;
  padding-top: 1px;
}

table{
  width: 100%;
  border: 1px solid black;
}

th{
font-size:25px;
color:#334323;
  text-align: center;
  border: 1px solid black;
  padding:15px;
}

td{
font-size:20px;
color:#304f50;
  text-align: left;
  border: 1px solid black;
  padding:15px;
}

img {
  border-radius: 40%;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
