h1{ 
  font-size:100px; 
  color:#4682B4; 
  text-align:center;
  border-style: groove;
}
h2{
  font-size:50px;
  color:#5F9EA0;
  text-align:center;
  margin-top:-65px;
}
p2{
  color:#304f50; 
  text-align:center;
  padding-bottom:700px;
  padding-top:700px;
}
table{
  width: 100%;
border: 1px solid #ddd;
}
th{
color:#4682B4;
  padding: 15px;
  text-align: center;
   border: 1px solid #ddd;
}
td{
  padding: 15px;
  text-align: left;
   border: 1px solid #ddd;
}
tr{
  hover {background-color: #f5f5f5;}
}
